body {
  background-color: #924536;
  color: black;
  margin: 0 50px;
}

header {
  background-color: #924536;
  border: 3px solid #C25642;
  font-family: fantasy;
  margin-top: 2em;
}

#salmon-image {
  border: 0px ;
  height: 200px;
  padding: 3px;
  transform: rotate(-2deg);
  vertical-align: center;
}

h1 {
  display: float;
  font-size: 60px;
  padding: 1em 2.5em;
}

#nav {
  display: inline-block;
  line-height: 30px;
}

#site-nav {
  font-family: fantasy;
}

a {
  text-decoration: none;
}

main {
  margin-top: 1em;
}

li {
  font-family: "Gill Sans", sans-serif;
  font-size: 18px
}

h2 {
  font-family: fantasy;
}

#location, #hours, #contactinfo, #aboutus {
  background-color: #C24F3A;
  border: 3px solid #924436;
  color: white;
  display: inline-block;
  height: 100px;
  padding: 1em;
  vertical-align: middle;

}
#location {
  line-height: 2em;
  width: 40%;
  height: 250px;
}



#footer {
  border: 3px solid #C25642;
  font-size: 13px;
  margin-top: 3em;
  text-align: center;
}
