body {
  background-color: #924536;
  color: black;
  margin: 0 50px;
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color: #924536;
  border: 7px solid #C25642;
  color: white;
  font-family: 'Merienda', cursive;
  margin-top: 2em;
}

#salmon-image {
  border: 0px ;
  height: 200px;
  padding-left: 70px;
  padding-top: 70px;
  transform: rotate(-2deg);
  vertical-align: center;
}

h1 {
  display: float;
  font-size: 60px;
  padding: 1em 1em;
  text-align: center;
}

#nav {
  display: inline-block;
  line-height: 30px;
}

#site-nav {
 
}

a {
  text-decoration: none;
}

main {
  margin-top: 1em;
}

h2 {
  font-family: fantasy;
}

#location, #hours, #contactinfo, #aboutus {
  background-color: #C24F3A;
  border: 3px solid #924436;
  color: black;
  display: inline-block;
  height: 100px;
  padding: 1em;
  vertical-align: middle;
  
}

#location {
  line-height: 2em;
  width: 40%;
  height: 250px;
}



#footer {
  border: 3px solid #C25642;
  font-size: 13px;
  margin-top: 3em;
  text-align: center;
  
}

#headertext {
  
  font-size: 20px;
  margin-top: 3em;
  text-align: center;
  padding: .5em;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(43, 41, 41);
}
